node_modules/
npm-debug.log
yarn-error.log

*.tsbuildinfo

dist/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
